html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="bg-gradient-pink2 background-animate overflow-hidden")
                section
                    div(class="flex items-center justify-between px-8 py-5")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto mr-14")
                                    a(href="#")
                                        img(src="gradia-assets/logos/gradia-name-black.svg", alt="")
                                div(class="w-auto hidden lg:block")
                                    ul(class="flex items-center mr-10")
                                        li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                            a(href="#") Features
                                        li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                            a(href="#") Solutions
                                        li(class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg")
                                            a(href="#") Resources
                                        li(class="font-heading text-gray-900 hover:text-gray-700 text-lg")
                                            a(href="#") Pricing
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    div(class="flex flex-wrap")
                                        div(class="w-auto")
                                            button(class="font-heading block py-2 px-5 mr-5 text-lg text-gray-900 rounded-10") Login
                                        div(class="w-auto")
                                            button(class="group relative font-heading block py-2 px-5 text-lg text-gray-900 border-2 border-gray-900 overflow-hidden rounded-10")
                                                div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gray-900 transition ease-in-out duration-500")
                                                p(class="relative z-10 group-hover:text-white") Try for free
                                div(class="w-auto lg:hidden")
                                    a(href="#")
                                        svg(class="navbar-burger text-gray-800", width="51", height="51", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            rect(width="56", height="56", rx="28", fill="currentColor")
                                            path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-10 px-9 py-8 bg-white h-full")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="#")
                                                img(src="gradia-assets/logos/gradia-name-black.svg", alt="")
                                        div(class="w-auto p-2")
                                            a(class="navbar-burger", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="#111827", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col justify-center py-8 w-full")
                                    ul
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Features
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Solutions
                                        li(class="mb-12")
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Resources
                                        li
                                            a(class="font-heading font-medium text-lg text-gray-900 hover:text-gray-700", href="#") Pricing
                                div(class="flex flex-col justify-end w-full")
                                    div(class="flex flex-wrap")
                                        div(class="w-full")
                                            button(class="p-0.5 font-heading block w-full text-lg text-gray-900 font-medium rounded-10")
                                                div(class="py-2 px-5 rounded-10")
                                                    p Login
                                        div(class="w-full")
                                            button(class="group relative p-0.5 font-heading block w-full text-lg text-gray-900 font-medium bg-gradient-cyan overflow-hidden rounded-10")
                                                div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-cyan transition ease-in-out duration-500")
                                                div(class="py-2 px-5 bg-white rounded-lg")
                                                    p(class="relative z-10") Try for free
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap items-center -m-6 pt-32 pb-36")
                        div(class="w-full lg:w-1/2 p-6")
                            div(class="lg:max-w-xl")
                                p(class="mb-8 font-heading max-w-max px-5 py-2.5 uppercase font-semibold text-xs tracking-wider text-indigo-900 bg-gradient-blue2 rounded-full") Rated #2 on G2
                                h1(class="mb-6 font-heading text-7xl md:text-10xl xl:text-12xl text-gray-900 font-bold") Get connected with your target audience
                                p(class="mb-9 text-gray-600 text-lg") Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.
                                button(class="group relative font-heading px-10 py-5 w-full lg:w-auto uppercase text-white text-xs font-semibold tracking-px bg-gray-900 overflow-hidden rounded-md")
                                    div(class="absolute top-0 left-0 transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gray-800")
                                    p(class="relative z-10") Connect Now
                        div(class="w-full lg:w-1/2 p-6")
                            img(class="block mx-auto", src="gradia-assets/images/hero/profiles.png", alt="")
            section(class="relative py-44 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="flex flex-wrap -m-6")
                        div(class="w-full lg:w-1/2 p-6")
                            div(class="lg:max-w-lg")
                                h2(class="mb-6 font-heading font-bold text-7xl text-gray-900") Get maximum results from all your projects.
                                p(class="mb-20 text-base text-gray-600") Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat.
                                ul
                                    li(class="mb-4 flex items-center font-heading font-semibold text-lg text-gray-900")
                                        img(class="mr-2", src="gradia-assets/elements/hero/check.svg", alt="")
                                        p No hidden fees
                                    li(class="mb-4 flex items-center font-heading font-semibold text-lg text-gray-900")
                                        img(class="mr-2", src="gradia-assets/elements/hero/check.svg", alt="")
                                        p Start with a free account
                                    li(class="mb-4 flex items-center font-heading font-semibold text-lg text-gray-900")
                                        img(class="mr-2", src="gradia-assets/elements/hero/check.svg", alt="")
                                        p Edit online, no software needed
                        div(class="w-full lg:w-1/2 p-6")
                            div(class="bg-gradient-orange mx-auto max-w-lg h-96 rounded-3xl")
                                img(class="relative top-10 mx-auto transform hover:-translate-y-16 transition ease-in-out duration-500", src="gradia-assets/images/features/dropdown.png", alt="")
            section(class="pt-28 pb-20 overflow-hidden")
                div(class="container mx-auto px-4")
                    p(class="mb-5 font-heading font-semibold text-xs text-gray-400 text-center uppercase tracking-px") The features that made us special
                    h2(class="mb-20 font-heading font-semibold text-6xl sm:text-7xl text-gray-900 text-center") Here’s how it works
                    div(class="flex flex-wrap -m-4")
                        div(class="w-full md:w-1/3 p-4")
                            div(class="md:max-w-xs mx-auto text-center")
                                svg(class="mx-auto mb-8", width="50", height="50", viewbox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M25 9.0712C26.527 7.34116 28.7611 6.25 31.25 6.25C35.8524 6.25 39.5833 9.98096 39.5833 14.5833C39.5833 19.1857 35.8524 22.9167 31.25 22.9167C28.7611 22.9167 26.527 21.8255 25 20.0955M31.25 43.75H6.25V41.6667C6.25 34.7631 11.8464 29.1667 18.75 29.1667C25.6536 29.1667 31.25 34.7631 31.25 41.6667V43.75ZM31.25 43.75H43.75V41.6667C43.75 34.7631 38.1536 29.1667 31.25 29.1667C28.9732 29.1667 26.8386 29.7754 25 30.8389M27.0833 14.5833C27.0833 19.1857 23.3524 22.9167 18.75 22.9167C14.1476 22.9167 10.4167 19.1857 10.4167 14.5833C10.4167 9.98096 14.1476 6.25 18.75 6.25C23.3524 6.25 27.0833 9.98096 27.0833 14.5833Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                p(class="font-heading font-medium text-xl text-gray-900") Subscribe to a plan that suits you better and place orders as many as you want.
                        div(class="w-full md:w-1/3 p-4")
                            div(class="md:max-w-xs mx-auto text-center")
                                svg(class="mx-auto mb-8", width="50", height="50", viewbox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.33301 12.5C8.33301 10.1988 10.1985 8.33334 12.4997 8.33334H16.6663C18.9675 8.33334 20.833 10.1988 20.833 12.5V16.6667C20.833 18.9679 18.9675 20.8333 16.6663 20.8333H12.4997C10.1985 20.8333 8.33301 18.9679 8.33301 16.6667V12.5Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M29.1663 12.5C29.1663 10.1988 31.0318 8.33334 33.333 8.33334H37.4997C39.8009 8.33334 41.6663 10.1988 41.6663 12.5V16.6667C41.6663 18.9679 39.8009 20.8333 37.4997 20.8333H33.333C31.0318 20.8333 29.1663 18.9679 29.1663 16.6667V12.5Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M8.33301 33.3333C8.33301 31.0322 10.1985 29.1667 12.4997 29.1667H16.6663C18.9675 29.1667 20.833 31.0322 20.833 33.3333V37.5C20.833 39.8012 18.9675 41.6667 16.6663 41.6667H12.4997C10.1985 41.6667 8.33301 39.8012 8.33301 37.5V33.3333Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M29.1663 33.3333C29.1663 31.0322 31.0318 29.1667 33.333 29.1667H37.4997C39.8009 29.1667 41.6663 31.0322 41.6663 33.3333V37.5C41.6663 39.8012 39.8009 41.6667 37.4997 41.6667H33.333C31.0318 41.6667 29.1663 39.8012 29.1663 37.5V33.3333Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                p(class="font-heading font-medium text-xl text-gray-900") Subscribe to a plan that suits you better and place orders as many as you want.
                        div(class="w-full md:w-1/3 p-4")
                            div(class="md:max-w-xs mx-auto text-center")
                                svg(class="mx-auto mb-8", width="50", height="50", viewbox="0 0 50 50", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M8.33301 10.4167C8.33301 9.26608 9.26575 8.33334 10.4163 8.33334H39.583C40.7336 8.33334 41.6663 9.26608 41.6663 10.4167V14.5833C41.6663 15.7339 40.7336 16.6667 39.583 16.6667H10.4163C9.26575 16.6667 8.33301 15.7339 8.33301 14.5833V10.4167Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M8.33301 27.0833C8.33301 25.9327 9.26575 25 10.4163 25H22.9163C24.0669 25 24.9997 25.9327 24.9997 27.0833V39.5833C24.9997 40.7339 24.0669 41.6667 22.9163 41.6667H10.4163C9.26575 41.6667 8.33301 40.7339 8.33301 39.5833V27.0833Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                    path(d="M33.333 27.0833C33.333 25.9327 34.2657 25 35.4163 25H39.583C40.7336 25 41.6663 25.9327 41.6663 27.0833V39.5833C41.6663 40.7339 40.7336 41.6667 39.583 41.6667H35.4163C34.2657 41.6667 33.333 40.7339 33.333 39.5833V27.0833Z", stroke="#18181B", stroke-width="3", stroke-linecap="round", stroke-linejoin="round")
                                p(class="font-heading font-medium text-xl text-gray-900") Subscribe to a plan that suits you better and place orders as many as you want.
            section(class="pt-28 pb-32 bg-gray-50 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="max-w-xl")
                        span(class="inline-block mb-3 text-gray-600 text-base") Flexible Pricing Plan
                        h2(class="mb-16 font-heading font-bold text-6xl sm:text-7xl text-gray-900") Everything you need to launch a website
                    div(class="flex flex-wrap")
                        div(class="w-full md:w-1/3")
                            div(class="pt-8 px-11 xl:px-20 pb-10 bg-transparent border-b md:border-b-0 md:border-r border-gray-200 rounded-10")
                                h3(class="mb-0.5 font-heading font-semibold text-lg text-gray-900") Basic
                                p(class="mb-5 text-gray-600 text-sm") Best for freelancers
                                div(class="mb-9 flex")
                                    span(class="mr-1 mt-0.5 font-heading font-semibold text-lg text-gray-900") $
                                    |                   
                                    span(class="font-heading font-semibold text-6xl sm:text-7xl text-gray-900") 29
                                    |                   
                                    span(class="font-heading font-semibold self-end") / m
                                div(class="p-1")
                                    button(class="group relative mb-9 p-px w-full font-heading font-semibold text-xs text-gray-900 bg-gradient-green uppercase tracking-px overflow-hidden rounded-md")
                                        div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-green transition ease-in-out duration-500")
                                        div(class="p-4 bg-gray-50 overflow-hidden rounded-md")
                                            p(class="relative z-10") Join now
                                ul
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p 100GB Cloud Storage
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p 10 Email Connection
                                    li(class="flex items-center font-heading font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Daily Analytics
                        div(class="w-full md:w-1/3")
                            div(class="pt-8 px-11 xl:px-20 pb-10 bg-transparent rounded-10")
                                h3(class="mb-0.5 font-heading font-semibold text-lg text-gray-900") Premium
                                p(class="mb-5 text-gray-600 text-sm") Best for small agency
                                div(class="mb-9 flex")
                                    span(class="mr-1 mt-0.5 font-heading font-semibold text-lg text-gray-900") $
                                    |                   
                                    span(class="font-heading font-semibold text-6xl sm:text-7xl text-gray-900") 99
                                    |                   
                                    span(class="font-heading font-semibold self-end") / m
                                div(class="p-1")
                                    button(class="group relative mb-9 p-px w-full font-heading font-semibold text-xs text-gray-900 bg-gradient-green uppercase tracking-px overflow-hidden rounded-md")
                                        div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-green transition ease-in-out duration-500")
                                        div(class="p-4 bg-gray-50 overflow-hidden rounded-md")
                                            p(class="relative z-10") Join now
                                ul
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p 500GB Cloud Storage
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p 50 Email Connection
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Daily Analytics
                                    li(class="flex items-center font-heading font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Premium Support
                        div(class="w-full md:w-1/3")
                            div(class="relative pt-8 px-11 pb-10 bg-white rounded-10 shadow-8xl")
                                p(class="absolute right-2 top-2 font-heading px-2.5 py-1 text-xs max-w-max bg-gray-100 uppercase tracking-px rounded-full text-gray-900") Popular choice
                                h3(class="mb-0.5 font-heading font-semibold text-lg text-gray-900") Enterprise
                                p(class="mb-5 text-gray-600 text-sm") Best for large agency
                                div(class="mb-9 flex")
                                    span(class="mr-1 mt-0.5 font-heading font-semibold text-lg text-gray-900") $
                                    |                   
                                    span(class="font-heading font-semibold text-6xl sm:text-7xl text-gray-900") 199
                                    |                   
                                    span(class="font-heading font-semibold self-end") / m
                                div(class="group relative mb-9")
                                    div(class="absolute top-0 left-0 w-full h-full bg-gradient-green opacity-0 group-hover:opacity-50 p-1 rounded-lg transition ease-out duration-300")
                                    button(class="p-1 w-full font-heading font-semibold text-xs text-gray-900 uppercase tracking-px overflow-hidden rounded-md")
                                        div(class="relative z-10 p-4 bg-gradient-green overflow-hidden rounded-md")
                                            p Join now
                                ul
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p 2TB Cloud Storage
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Unlimited Email Connection
                                    li(class="flex items-center font-heading mb-3 font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Daily Analytics
                                    li(class="flex items-center font-heading font-medium text-base text-gray-900")
                                        svg(class="mr-2.5", width="22", height="22", viewbox="0 0 22 22", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4.58301 11.9167L8.24967 15.5834L17.4163 6.41669", stroke="#A1A1AA", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        p Premium Support
